<h1>ようこそ <storong>Bookers</storong>へ！</h1>
<div class="explain">
<p><storong>Bookers</storong>では、さまざまな書籍に関するあなたの意見や</br>
印象を公有し交換することができます</p>

<a><%= link_to "start", books_path, class: "link-start" %></a>
</div>
